body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #da1e8be8;
    padding: 1em;
    text-align: center;
}

header nav a {
    margin: 0 1em;
    color: #da1e8be8;
    text-decoration: none;
}

.produtos-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

.produto {
    border: 1px solid #e41616;
    padding: 1em;
    width: 3000px;
    text-align: center;
}

.produto img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
